 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">


  <link rel="stylesheet"  href="{{url_for("static", filename="style.css")}}">
  <title>sam</title>
</head>

<body>
  <header class="inner">
    <h2><a href="index.html"><i class="fas fa-code"></i>
        Sam-<span id="col">Codz</span></a></h2>
    <nav>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Blogs</a>
        </li>
        
        <li>
        <a href="#">Services</a>
        </li> 
        <li>
          <a href="#">Projects</a>
        </li>   
        
      </ul>
    </nav>
  </header>

  <section id="gigs" class="container">

    <div id ="home">

      We learn by example and by direct <br>

      experience becouse there are real <br>

      limits to the adequacy of verbal <br>

                 instruction. <br>

     <h6> ---Malcolm Gladwell---</h6>



          <code id="code">
            
          while(!(succeed =try()));
          </code>
      

    </div>
    
  </section>
  <header class="inner">
  <h2><a href="index.html"><i class="fas fa-code"></i>
  Sam-<span id="col">Codz</span></a></h2>
  <nav>
  <ul>
  <li>
  <a href="https://github.com/samkb420">Github</a>
  </li>
  <li>
  <a href="https://twitter.com/@samkb420">Twitter</a>
  </li>
  <li>
  <a href="#">Facebook</a>
  </li>   
  </ul>
  <h6>Design and coding</br>
  by Samkb &copy; Brian</h6>
  
  </nav>
  </header>
  
</body>

</html>s